<% @evaluations.each do |evaluation| %>
  <tr class="px-2">
    <td class="text-left">  </td>
    <td class="text-center">  </td>
    <td class="text-center">  </td>
    <td class="text-center">  </td>
    <td class="text-center">  </td>
    <td class="text-center">  </td>
  </tr>
<% end %>