<div class="row">

  <div class="col-sm-12 mt-3 p-5 bg-white">

    <div class="pb-5">
      <h2>Filmes mais votados</h2>
    </div>

    <table class="table-responsive table-hover">
      <thead class="py-2">
        <tr>
          <th class="w-25 text-left">Título</th>
          <th class="w-25 text-center">Episódio</th>
          <th style="width: 20%" class="text-center">Diretor</th>
          <th style="width: 5%" class="text-center">Lançamento</th>
          <th style="width: 15%" class="text-center">Like</th>
          <th style="width: 10%" class="text-center">Dislike</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'evaluations' %>
      </tbody>
    </table>
  </div>

</div>